@font-face {
    font-family: pt-serif;
    src: url(./fonts/PTSerif-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 84%;
    /* width is changed as per requirement*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1.5rem 0 1.5rem;
}

.col {
    flex: 0 0 auto;
    width: 50%;
}

/* above css code is as per bootstrap and html structure too, do use while creating pages if not using bootstrap */
/* main section css*/
.text-section {
    padding-top: 5%;
    justify-content: space-between;
}

.col-left,
.col-right {
    width: 35%;
}

.text-section .col-left h1 {
    font-family: 'pt-serif';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.045em;
    color: #000000;
}

.text-section .col-right h2 {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
}

.text-section .col-right p {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

figure {
    width: 30%;
    margin-top: 3%;
}

.team-images figure img {
    width: 100%;
}

.team-images figure figcaption {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.team-images {
    padding-top: 5%;
    justify-content: space-between;
}

.team-images .img-2,
.team-images .img-5 {
    margin-top: 13%;
}

/* .img-1::after {
    content: "manager";
    font-family: 'pt-serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(90deg);
    position: absolute;
} */


/* footer css */
footer {
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: 'montserrat';
}


@media only screen and (max-width:768px) {

    .col-left,
    .col-right {
        width: 66%;
    }

    .col-right {
        padding-top: 5%;
    }

    .team-images figure {
        width: 47%;
    }

    .team-images .img-4,
    .team-images .img-6 {
        margin-top: 13%;
    }

    .team-images .img-5 {
        margin-top: 0;
    }
}